/*
 * Base app style
 */
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif);

body {
    background-image: url('../img/bg/giftly.png');
    font-family: 'Droid Serif', serif;
}

h1, h2, h3, h4, h5, h6, a, thead, .btn, strong, b, tr.total {
    font-family: 'Droid Sans', sans-serif;
}

p {
    font-family: 'Droid Serif', serif;
}

#main {
    background: #fff;
    border: 1px solid #eeeeee;
    margin-top: 60px;
    padding-bottom: 10px;
}

.stripe {
    height: 5px;
    background: #ffff00;
}

#cart {
    background: #eeeeee;
    padding: 5px 15px;
    border: 1px dotted #ccc;
}

tr.total {
    font-weight: bold;
    font-size: 18px;
}

#productList {
    max-height: 400px;
    overflow-y: scroll;
}

.col-item {
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    background: #FFF;
    margin-bottom: 5px;
}

.col-item .photo img {
    margin: 0 auto;

    width: 100%;
}

.col-item .info {
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
    border-top: 1px solid #ccc;
}

.col-item:hover .info {
    background-color: #F5F5DC;
}

.col-item .price {
    /*width: 50%;*/
    float: left;
    margin-top: 5px;
}

.col-item .price h5 {
    line-height: 20px;
    margin: 0;
}

.price-text-color {
    color: #219FD1;
}

.col-item .info .rating {
    color: #777;
}

.col-item .rating {
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator {
    border-top: 1px solid #E1E1E1;
}

.clear-left {
    clear: left;
}

.col-item .separator p {
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: left;
}

.col-item .separator p i {
    margin-right: 5px;
}

.col-item .btn-add {
    width: 50%;
    float: left;
}

.col-item .btn-add {
    border-right: 1px solid #E1E1E1;
}

.col-item .btn-details {
    width: 50%;
    float: left;
    padding-left: 10px;
}

.controls {
    margin-top: 20px;
}

[data-slide="prev"] {
    margin-right: 10px;
}


